{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
   About Blog
{% endblock %}

{% block body %}
<body>
<section class="contact content-section" style="background-color:cyan; border-width: 5px; border-color:black;" >
<main class="container">
       <div class="row">
           <div class="col-md-4">
                  <div class="container" style="margin-top: 40px;">
                    <img src="{% static 'blog/image/owner.jpg' %}" alt="Avatar" width="280px" height="300px" class="image">
                  </div>
           </div>
           <div class="col-md-8">
               <div class="container" style="margin-top: 40px;"> 
                   <h1 class="text-warning" style="background-color: black;" >About Founder</h1><br>

                      <h6 style="color:deeppink;"><b>Mr N. N. Patil (B.Voc)</b>, Graduate from Kavayitri Bahinabai Chaudhari North Maharashtra University Jalgaon .<br>Python (Django) Devloper .<br>HTML CSS Devloper .</h6><br>

                        <h2 class="text-warning" style="background-color: black;">Contact to KC :</h2>
                          <pre><h6 style="color:deeppink;" ><b>
  KC(Khandeshi Construction)
  at Amalner,Jalgoan,Maharastra
  Pin code :425401.
  
  Ph.No : +91 - 7350942634,9834218699
                            </b>
                          </h6>
                          </pre>

                       </div>

                   </div>
       </div>
   </main>
</section>






































</body>

{% endblock %}